<h1>Listing missing_people</h1>

<table>
  <thead>
    <tr>
      <th>Found</th>
      <th>Status</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Sex</th>
      <th>Hair color</th>
      <th>Eye color</th>
      <th>Race</th>
      <th>Description</th>
      <th>Initial location lat</th>
      <th>Initial location long</th>
      <th>Found location lat</th>
      <th>Found location long</th>
      <th>Submitter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @missing_people.each do |missing_person| %>
      <tr>
        <td><%= missing_person.found %></td>
        <td><%= missing_person.status %></td>
        <td><%= missing_person.first_name %></td>
        <td><%= missing_person.middle_name %></td>
        <td><%= missing_person.last_name %></td>
        <td><%= missing_person.age %></td>
        <td><%= missing_person.height %></td>
        <td><%= missing_person.weight %></td>
        <td><%= missing_person.sex %></td>
        <td><%= missing_person.hair_color %></td>
        <td><%= missing_person.eye_color %></td>
        <td><%= missing_person.race %></td>
        <td><%= missing_person.description %></td>
        <td><%= missing_person.initial_location_lat %></td>
        <td><%= missing_person.initial_location_long %></td>
        <td><%= missing_person.found_location_lat %></td>
        <td><%= missing_person.found_location_long %></td>
        <td><%= missing_person.submitter %></td>
        <td><%= link_to 'Show', missing_person %></td>
        <td><%= link_to 'Edit', edit_missing_person_path(missing_person) %></td>
        <td><%= link_to 'Destroy', missing_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Missing person', new_missing_person_path %>
