<p id="notice"><%= notice %></p>

<p>
  <strong>Found:</strong>
  <%= @missing_person.found %>
</p>

<p>
  <strong>Status:</strong>
  <%= @missing_person.status %>
</p>

<p>
  <strong>First name:</strong>
  <%= @missing_person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @missing_person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @missing_person.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @missing_person.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @missing_person.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @missing_person.weight %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @missing_person.sex %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @missing_person.hair_color %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @missing_person.eye_color %>
</p>

<p>
  <strong>Race:</strong>
  <%= @missing_person.race %>
</p>

<p>
  <strong>Description:</strong>
  <%= @missing_person.description %>
</p>

<p>
  <strong>Initial location lat:</strong>
  <%= @missing_person.initial_location_lat %>
</p>

<p>
  <strong>Initial location long:</strong>
  <%= @missing_person.initial_location_long %>
</p>

<p>
  <strong>Found location lat:</strong>
  <%= @missing_person.found_location_lat %>
</p>

<p>
  <strong>Found location long:</strong>
  <%= @missing_person.found_location_long %>
</p>

<p>
  <strong>Submitter:</strong>
  <%= @missing_person.submitter %>
</p>

<%= link_to 'Edit', edit_missing_person_path(@missing_person) %> |
<%= link_to 'Back', missing_people_path %>
