<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @submitter.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @submitter.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @submitter.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @submitter.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submitter.email %>
</p>

<%= link_to 'Edit', edit_submitter_path(@submitter) %> |
<%= link_to 'Back', submitters_path %>
