<%= form_for(@photo , :url => photos_path, :html => { :multipart => true }) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :missing_person %><br>
    <%= f.text_field :missing_person %>
  </div>
  <div class="field">
    <%= f.label :photo_type %><br>
    <%= f.number_field :photo_type %>
  </div>
  <div class="field">
      <%= f.file_field :photo_attachment %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>